body {
    background-color: #6B6B6B;
   
}

h1 {
    color: pink;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    text-align: center;
    color: blue;
    font-family: 'Arial', sans-serif; /* Replace 'Arial' with your preferred cool font */
}
ol {
    list-style-type: none;
}

ol li {
    font-weight: bold;
    margin-bottom: 10px;
}

ol li ul {
    margin-top: 5px;
}

ol li ul li {
    font-weight: normal;
    margin-left: 20px;
}
div:nth-of-type(1) {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}


div:nth-of-type(2) {
    background-color: #e6f7ff;
    padding: 15px;
    border: 2px solid #007bff;
    border-radius: 8px;
    margin-bottom: 20px;
}


div:nth-of-type(3) {
    padding: 10px;
    margin-bottom: 20px;
}